<div class="jumbotron"> 

    
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
         
         
         
         
         <ul class="navbar-nav">
           <li class="nav-item">
             <a class="nav-link" routerLink="/htmltable">Table Presentation</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" routerLink="/chart">Chart Presentation</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="/iframe">Iframe Presentation</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">Log Out</a>
           </li>
 
         </ul>
       </nav>

       
   </div>

   <div class="row">
    
    
    
    <div class="col-sm-4"><iframe src="https://www.youtube.com/embed/GoW8Tf7hTGA" title="Video 1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
        <p>Your browser does not support iframes.</p>
      </iframe></div> 
    
    <div class="col-sm-4"><iframe src="https://www.youtube.com/embed/XRCIzZHpFtY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen scrolling="yes">
        <p>Your browser does not support iframes.</p>
      </iframe></div>
  <div class="col-sm-4"><iframe src="https://www.youtube.com/embed/VoLZXXQL-YY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen scrolling="yes">
        <p>Your browser does not support iframes.</p>
      </iframe></div> 
  </div> 
